
<!doctype html>
<html lang="{{ str_replace('_', '-', app()->getLocale()) }}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{{ config('app.name', 'Laravel') }}</title>

    <!-- Scripts -->
    <script src="{{ asset('js/app.js') }}" defer></script>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="//fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet">

    <!-- Styles -->
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
</head>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">{{ __('Fuel Quote History') }}</div>
                    <div class="card-body">
                        <h1> History (Note for future self: $orders from controller and $order to dynamically show order drom Database)</h1>
                        <div id="table_thingy">
                            <table>
                                <tr>
                                    <th>--Name--</th>
                                    <th>--Email--</th>
                                    <th>--Amount Due--</th>
                                    <th>--Address--</th>
                                </tr>  

                            </table>
                        </div>
                    </div>           
                </div>
            </div>
        </div>
    </div>
</div>
